############################################################
## Import
############################################################
## import(methods)
importFrom(utils, head, tail)
importFrom(stats, start, end, update, aggregate)
importFrom(objectSignals, signalingField, signalingFields, Signal)
importMethodsFrom(objectSignals, length, listeners)
importClassesFrom(objectSignals, Signal)
importFrom(plumbr, mutaframe, mutalist)
import(qtbase)
import(qtpaint)
import(scales)
## Biobase
importClassesFrom(Biobase, AssayData)

##IRanges
## importClassesFrom(IRanges, IRanges, Rle)
importFrom(IRanges, IRanges,  disjoin, disjointBins,
           "elementMetadata", "elementMetadata<-",
           start, width, end,  mid, 
           "start<-", "width<-", "end<-", 
           ranges, "ranges<-", "metadata", "metadata<-", 
           isTRUEorFALSE, coverage, slice, viewWhichMins, viewWhichMaxs,
           viewMins, viewMaxs, viewSums, viewMeans, runValue, runLength, reduce)

importMethodsFrom(IRanges,
                  unlist,setdiff, Rle,
                  as.data.frame,
                  "[","[<-",
                  "%in%", show, as.list,
                  aggregate, append,
                  colnames, "colnames<-", lapply, sapply)

importClassesFrom(IRanges, AsIs, Annotated)

## ## GenomicRanges
############################################################
importFrom(GenomicRanges, "seqnames<-","strand<-", GRanges, GRangesList, Seqinfo)
importMethodsFrom(GenomicRanges, ranges, "ranges<-",
                  start, end, width, "start<-", "end<-", "width<-",
                  seqnames, strand, seqinfo, show,
                   "elementMetadata<-", elementMetadata,
                  as.data.frame)
importClassesFrom(GenomicRanges, GRanges, GenomicRanges, Seqinfo)


## ## MutableRanges
importClassesFrom(MutableRanges, MutableGRanges,Parameters, 
                  PositiveInteger, NonnegativeInteger,
                  NegativeInteger, NonpositiveInteger,
                  NumericWithMin0Max1, Enum,
                  SingleEnum, MultipleEnum, OverlapTypeSingleEnum)

importFrom(MutableRanges, setSingleEnum, setMultipleEnum,
           setParameters, MutableGRanges, setNumericWithRange)

importMethodsFrom(MutableRanges, seqnames,
                  elementMetadataChanged, rangesChanged)
## BSgenome
importClassesFrom(BSgenome, BSgenome)
importMethodsFrom(BSgenome, getSeq)

## GenomicFeatures
importClassesFrom(GenomicFeatures,TranscriptDb)
## rtracklayer
importClassesFrom(rtracklayer, BrowserView)
importFrom(rtracklayer, browserSession, genome, "genome<-",
           ucscTableQuery, tableNames, getTable, GenomicData,
           "track<-", GRangesForUCSCGenome, browserView,
           ucscGenomes, "tableName<-")

## Rsamtools
importFrom(Rsamtools, ScanBamParam, scanBam, scanBamHeader,
           PileupFiles, PileupParam)
importMethodsFrom(Rsamtools, applyPileups)


############################################################
## Export
############################################################
exportMethods(
              ## removePrefix,
              ## validateChr,
              ## addPrefix,
              ## sortChr,
              ## orderChr,
              ## replaceChr,
              "[[",
              unlist,
              lapply,
              c,
              length,
              names,
              print,
              ## viewInBrowser,
              ## visnabGUI,
              range,
              "range<-",
              ## selectedRangesModel,
              ## "selectedRangesModel<-",
              geom,
              "geom<-",
              aes)


## ## Constructor
export(GraphicPars,
       IntervalView,
       CircularView,
       AlignmentView,
       CoverageView,
       SeqView,
       StackedView,
       TracksView,
       TxdbView,
       VisnabViewList,
       VisnabProject)

## exportClasses("numericORNULL",
##               "characterORNULL",
##               "functionORNULL", 
##               "logicalORNULL",
##               "Theme") 


## GUI
##exportClasses(SearchBar)
## exportMethods(SearchBar)
export(SearchBar, ControlPanel, SimpleViewer,
       setGraphicPars)

## ## utils method
export("getIdeogram")

## for temporary
exportPattern("^[^\\.]")

