############################################################
## Import
############################################################
import(methods)
importFrom(utils, head, tail)
importFrom(stats, start, end, update, aggregate)
import(objectSignals)
import(objectProperties)
import(objectWidgets)
importFrom(plumbr, mutaframe, mutalist)
import(qtbase)
import(qtpaint)
import(scales)
importFrom(BiocGenerics, cbind, rbind, unique,
           lapply, sapply, setdiff, Reduce)
importClassesFrom(BiocGenerics, AsIs)
import(biovizBase)
## Biobase
importClassesFrom(Biobase, AssayData)

##IRanges
## importClassesFrom(IRanges, IRanges, Rle)
importFrom(IRanges, IRanges,  disjoin, disjointBins,
           "elementMetadata", "elementMetadata<-",
           start, width, end,  mid, resize, 
           "start<-", "width<-", "end<-", "values", "values<-",
           ranges, "ranges<-", "metadata", "metadata<-", 
           isTRUEorFALSE, coverage, slice, viewWhichMins, viewWhichMaxs,
           viewMins, viewMaxs, viewSums, viewMeans, runValue, runLength, reduce,
           punion, pgap)

importMethodsFrom(IRanges,
                  unlist,setdiff, Rle,
                  Reduce,
                  as.data.frame,
                  length, as.vector,
                  "[","[<-","[[", "[[<-","$",
                  "%in%", show, as.list,
                  aggregate, append,
                  colnames, "colnames<-", lapply, sapply)

importClassesFrom(IRanges, Annotated, List, Vector, SimpleList,
                  characterORNULL, functionORNULL)


## ## GenomicRanges
############################################################
importFrom(GenomicRanges, "seqnames<-","strand<-", GRanges, GRangesList, Seqinfo,
           seqlengths, "seqlengths<-")
importMethodsFrom(GenomicRanges, ranges, "ranges<-",
                  start, end, width, "start<-", "end<-", "width<-",
                  seqnames, strand, seqinfo, show,
                   "elementMetadata<-", elementMetadata,
                  as.data.frame)
importClassesFrom(GenomicRanges, GRanges, GenomicRanges, Seqinfo)
## GenomicFeatures
importClassesFrom(GenomicFeatures,TranscriptDb)


## ## MutableRanges
import(MutableRanges)
## importClassesFrom(MutableRanges, MutableGRanges,
##                   OverlapTypeSingleEnum)

## importFrom(MutableRanges, MutableGRanges)

## importMethodsFrom(MutableRanges, 
##                   elementMetadataChanged, rangesChanged)
## BSgenome
importClassesFrom(BSgenome, BSgenome)
importMethodsFrom(BSgenome, getSeq)

## rtracklayer
importClassesFrom(rtracklayer, BrowserView)
importFrom(rtracklayer, browserSession, genome, "genome<-",
           ucscTableQuery, tableNames, getTable, GenomicData,
           "track<-", GRangesForUCSCGenome, browserView,
           ucscGenomes, "tableName<-")

## Rsamtools
importFrom(Rsamtools, ScanBamParam, scanBam, scanBamHeader,
           PileupFiles, PileupParam , countBam)
importMethodsFrom(Rsamtools, applyPileups)


############################################################
## Export
############################################################
exportMethods(unlist,lapply,
              length,
              print)
              ## icons,
              ## viewInBrowser,
              ## visnabGUI,
              ## range,
              ## "range<-",
              ## selectedRangesModel,
              ## "selectedRangesModel<-",
              ## geom,
              ## "geom<-",
              ## aes)


## ## Constructor
export(GraphicPars,
       ## IntervalView,
       ## CircularView,
       ## AlignmentView,
       CoverageView)
       ## SeqView,
       ## StackedView,
       ## TracksView,
       ## TxdbView,
       ## VisnabViewList,
       ## VisnabProject)-

## exportClasses("numericORNULL",
##               "characterORNULL",
##               "functionORNULL", 
##               "logicalORNULL",
##               "Theme") 

exportClasses(ColorEnum, GlyphEnum)
## GUI
##exportClasses(SearchBar)
## exportMethods(SearchBar)
## export(SearchBar, ControlPanel, SimpleViewer,
##        setGraphicPars)

## ## utils method
## export("getIdeogram")

## for temporary
exportPattern("^[^\\.]")

