## Export from visnab
exportMethods("removePrefix",
              "validateChr",
              "addPrefix",
              "sortChr",
              "orderChr",
              "replaceChr",
              "print",
              ## "addAttr",
              ## "setDefAttr",
              "viewInUCSC",
              "visnabGUI")

exportClasses("GraphicPars",
              "VisnabView",
              "QtVisnabView",
              "CircularView",
              "IntervalView",
              "AlignmentView",
              "SeqView",
              "StackedView",
              "TracksView")
## Constructor
export("GraphicPars",
       "IntervalView",
       "CircularView",
       "AlignmentView",
       "SeqView",
       "StackedView",
       "TracksView")


export("getIdeogram")


## Import
import(qtbase, qtpaint, plumbr, scales)


importClassesFrom(rtracklayer, BrowserView)

importClassesFrom(BSgenome, BSgenome)

importFrom(rtracklayer, browserSession, genome, "genome<-",
           ucscTableQuery, tableNames, getTable, GenomicData,
           "track<-", GRangesForUCSCGenome, browserView,
           ucscGenomes, "tableName<-")

importFrom(Rsamtools, ScanBamParam, scanBam)
## for temporary
exportPattern("^[^\\.]")
